<!--Main Layout-->
<main class=" py-2">
    <div class="container">
        <mdb-breadcrumb customClass="black-text primary-color z-depth-1 ">
            <mdb-breadcrumb-item routerLink="/">
              <mdb-icon fas icon="caret-left" class="mr-1"></mdb-icon> Home
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item>
              <mdb-icon fas icon="caret-left" class="mr-1"></mdb-icon> Administration
            </mdb-breadcrumb-item>
          </mdb-breadcrumb>


          <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    <a routerLink="/staff" class="list-group-item list-group-item-action waves-light" routerLinkActive="active" mdbWavesEffect>Staff</a>
                    <a href="#" class="list-group-item list-group-item-action waves-light" routerLinkActive="active" mdbWavesEffect>Parents Teacher Association</a>
                    <a href="#" class="list-group-item list-group-item-action waves-light" routerLinkActive="active" mdbWavesEffect>Student's Council</a>
                    <a href="#" class="list-group-item list-group-item-action waves-light" routerLinkActive="active" mdbWavesEffect>Vestibulum at
                      eros</a>
                  </div>

            </div>
            <div class="col-md-9">sss</div>

          </div>

    </div>
  </main>
