<!--Main Layout-->
<main class=" py-3">
    <div class="container">
        <!-- <mdb-breadcrumb customClass="black-text primary-color z-depth-1 ">
            <mdb-breadcrumb-item routerLink="/">
              <mdb-icon fas icon="caret-left" class="mr-1"></mdb-icon> Home
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item routerLink="/administration">
              <mdb-icon fas icon="caret-left" class="mr-1"></mdb-icon> Administration
            </mdb-breadcrumb-item>
            <mdb-breadcrumb-item>
                <mdb-icon fas icon="caret-left" class="mr-1"></mdb-icon> Staff
              </mdb-breadcrumb-item>
          </mdb-breadcrumb> -->
          <h2 class="text-center pink-text">Administration</h2>

        <div class="row">
            <div class="col-md-4">
              <!--Card-->
              <mdb-card cascade="true" wider="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="assets/img/staff/manager.jpg"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                  <!--Card content-->
                  <!--Title-->
                  <h5 class="pink-text">
                    <strong>Fr. Thomas Malipurathu</strong>
                  </h5>
                  <h5 class="card-title">
                    SVD, Manager
                  </h5>

                  <mdb-card-text>
                    <!-- Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam. -->
                  </mdb-card-text>

                  <!--Linkedin-->
                  <a class="px-2 icons-sm li-ic">
                    <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                  </a>
                  <!--Twitter-->
                  <a class="px-2 icons-sm tw-ic">
                    <mdb-icon fab icon="twitter"> </mdb-icon>
                  </a>
                  <!--Dribbble-->
                  <a class="px-2 icons-sm fb-ic">
                    <mdb-icon fab icon="facebook-f"> </mdb-icon>
                  </a>

                </mdb-card-body>
                <!--/.Card content-->

              </mdb-card>
              <!--/.Card-->
            </div>

            <div class="col-md-4">
              <!--Card-->
              <mdb-card cascade="true" narrower="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="assets/img/staff/principal.jpg"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                  <!--Card content-->
                  <h5 class="pink-text"><strong>Fr. Joyson Kurian</strong></h5>
                  <!--Title-->
                  <h5 class="card-title">SVD, Principal</h5>
                  <!--Text-->

                  <mdb-card-text>
                    <!-- Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam. -->
                  </mdb-card-text>

                  <!--Linkedin-->
                  <a class="px-2 icons-sm li-ic">
                      <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                      <mdb-icon fab icon="twitter"> </mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                      <mdb-icon fab icon="facebook-f"> </mdb-icon>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

              </mdb-card>
              <!--/.Card-->
            </div>

            <div class="col-md-4">
              <!--Card-->
              <mdb-card cascade="true">

                <!--Card image-->
                <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                  <mdb-card-img src="assets/img/staff/procurator.jpg"></mdb-card-img>
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
                <!--/Card image-->

                <mdb-card-body cascade="true" class="text-center">
                  <!--Card content-->
                  <h5 class="pink-text">
                    <strong>Fr.Abraham D'souza</strong>
                  </h5>
                  <h5 class="card-title">SVD, Procurator/Counsellor</h5>

                  <mdb-card-text>
                    <!-- Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem
                    aperiam. -->
                  </mdb-card-text>

                  <!--Linkedin-->
                  <a class="px-2 icons-sm li-ic">
                      <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                    </a>
                    <!--Twitter-->
                    <a class="px-2 icons-sm tw-ic">
                      <mdb-icon fab icon="twitter"> </mdb-icon>
                    </a>
                    <!--Dribbble-->
                    <a class="px-2 icons-sm fb-ic">
                      <mdb-icon fab icon="facebook-f"> </mdb-icon>
                    </a>

                </mdb-card-body>
                <!--/.Card content-->

              </mdb-card>
              <!--/.Card-->
            </div>
          </div>


    </div>

    <div class="container py-4">
<!-- Other Staff -->
<h2 class="text-center">Other Staff</h2>
<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Secondary</th>
          <th scope="col">Primary</th>
          <th scope="col">Pre-primary</th>
          <th scope="col">Non- teaching</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let row of tableData;let i = index">
              <td>{{row.Secondary}}</td>
              <td>{{row.Primary}}</td>
              <td>{{row.Preprimary}}</td>
              <td>{{row.Nonteaching}}</td>

            </tr>
      </tbody>
    </table>
  </div>

    </div>
</main>
