<!--Main Layout-->
<main class="text-center py-1">
    <div class="container">
<!-- Jumbotron -->
<mdb-card style="background-image: url('assets/img/schoolpan.jpg') ">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><mdb-icon fas icon="graduation-cap"></mdb-icon> Students Council</h5>
      <h2 class="card-title h2 my-4 py-2">Elected Office Bearers</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5"></p>
      <a mdbBtn gradient="peach" mdbWavesEffect> <mdb-icon fas icon="clone" class="left"></mdb-icon>Year 2018-19</a>
      <a mdbBtn gradient="blue" mdbWavesEffect> <mdb-icon fas icon="clone" class="left"></mdb-icon>Year 2019-20</a>

    </div>

  </div>
</mdb-card>
<!-- Jumbotron -->
<br>
<!--Grid row-->
<div class="row">

    <!--Grid column-->
    <div class="col-md-6">

      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up indigo lighten-1">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="assets/img/headboy.jpg" class="rounded-circle">
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>Head Boy</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </mdb-card-body>
      </mdb-card>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6">

      <!--Card-->
      <mdb-card class="testimonial-card">
        <!--Bacground color-->
        <div class="card-up aqua-gradient">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto">
          <img src="assets/img/headgirl.jpg" class="rounded-circle">
        </div>

        <mdb-card-body>
          <!--Name-->
          <mdb-card-title>
            <h4>Head Girl</h4>
          </mdb-card-title>
          <hr>
          <!--Quotation-->
          <p>
            <mdb-icon fas icon="quote-left"></mdb-icon> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci</p>
        </mdb-card-body>
      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->




      <!--Section heading-->
      <h1 class="h1 pt-4">House Captains</h1>
      <!--Section description-->
      <p>For Ruby House</p>

      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

            <!--Card-->
            <div class="card testimonial-card red">

              <!--Background color-->
              <div class="card-up ">
              </div>

              <!--Avatar-->
              <div class="avatar mx-auto "><img src="assets/img/houseboy.jpg"
                  class="rounded-circle img-responsive">
              </div>

              <div class="card-body ">
                <!--Name-->
                <h4 class="card-title mt-1">Master. Aarya Pandit</h4>
                <hr>
                <!--Quotation-->
                <p> Ruby House</p>
              </div>

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

          <!--Card-->
          <div class="card testimonial-card red">

            <!--Background color-->
            <div class="card-up purple-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto"><img src="assets/img/house-girl.jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="card-title mt-1">Miss.Tarishi Singhal</h4>
              <hr>
              <!--Quotation-->
              <p>Ruby House</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->


      </div> <!-- end of house captain -->



      <!--Section heading-->
      <h1 class="h1 pt-4">House Captain</h1>
      <!--Section description-->
      <p>For Emerald House</p>

      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

            <!--Card-->
            <div class="card testimonial-card green">

              <!--Background color-->
              <div class="card-up ">
              </div>

              <!--Avatar-->
              <div class="avatar mx-auto "><img src="assets/img/houseboy.jpg"
                  class="rounded-circle img-responsive">
              </div>

              <div class="card-body ">
                <!--Name-->
                <h4 class="card-title mt-1">Master. Shashank Pardeshi</h4>
                <hr>
                <!--Quotation-->
                <p> Emerald House</p>
              </div>

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

          <!--Card-->
          <div class="card testimonial-card green">

            <!--Background color-->
            <div class="card-up purple-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto"><img src="assets/img/house-girl.jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="card-title mt-1">Miss. Vidhee Mehta</h4>
              <hr>
              <!--Quotation-->
              <p>Emerald House</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->


      </div> <!-- end of house captain -->



      <!--Section heading-->
      <h1 class="h1 pt-4">House Captain</h1>
      <!--Section description-->
      <p>For Sapphire House</p>

      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

            <!--Card-->
            <div class="card testimonial-card yellow">

              <!--Background color-->
              <div class="card-up ">
              </div>

              <!--Avatar-->
              <div class="avatar mx-auto "><img src="assets/img/houseboy.jpg"
                  class="rounded-circle img-responsive">
              </div>

              <div class="card-body ">
                <!--Name-->
                <h4 class="card-title mt-1">Master. Albis Ipe</h4>
                <hr>
                <!--Quotation-->
                <p> Sapphire House</p>
              </div>

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

          <!--Card-->
          <div class="card testimonial-card yellow">

            <!--Background color-->
            <div class="card-up purple-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto"><img src="assets/img/house-girl.jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="card-title mt-1">Miss. Himani Nahata</h4>
              <hr>
              <!--Quotation-->
              <p>Sapphire House</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->


      </div> <!-- end of house captain -->




      <!--Section heading-->
      <h1 class="h1 pt-4">House Captain</h1>
      <!--Section description-->
      <p>For Diamond House</p>

      <div class="row">

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

            <!--Card-->
            <div class="card testimonial-card blue">

              <!--Background color-->
              <div class="card-up ">
              </div>

              <!--Avatar-->
              <div class="avatar mx-auto "><img src="assets/img/houseboy.jpg"
                  class="rounded-circle img-responsive">
              </div>

              <div class="card-body ">
                <!--Name-->
                <h4 class="card-title mt-1">Master. Om Walke</h4>
                <hr>
                <!--Quotation-->
                <p> Diamond House</p>
              </div>

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-6">

          <!--Card-->
          <div class="card testimonial-card blue">

            <!--Background color-->
            <div class="card-up purple-gradient">
            </div>

            <!--Avatar-->
            <div class="avatar mx-auto"><img src="assets/img/house-girl.jpg"
                class="rounded-circle img-responsive">
            </div>

            <div class="card-body">
              <!--Name-->
              <h4 class="card-title mt-1">Miss. Vaidehi Deshpande </h4>
              <hr>
              <!--Quotation-->
              <p>Diamond House</p>
            </div>

          </div>
          <!--Card-->

        </div>
        <!--Grid column-->


      </div> <!-- end of house captain -->



    </div>
</main>
