<!--Main Layout-->
<main class=" py-5">
  <div class="container">
      <ul class="list-group">
          <li class="list-group-item purple-gradient"><a class="nav-link active" (click)="objective.toggle()">Objective</a>

            <div class="" mdbCollapse #objective="bs-collapse">
                <p>
                    An Arnoldian is expected:</p>
                    <ul>
                        <li>To be intellectually competent, open to growth, loving all and committed to do justice by generous service to others with a clear sense.</li>
                        <li>To develop the quality of mind and heart (competence and compassion.)</li>
                        <li>To cherish community values and learn to live harmoniously in the society.</li>
                        <li>To be leader in struggle for better human world and community of love.</li>
                        <li>To love and respect all religions, cultures and castes.</li>
                        <li>To grow in respect for all forms of life especially human life.</li>
                        <li>To develop a spiritual vision of the world in the face of materialism, concern for others in the face of egoism and simplicity in the face of consumerism.</li>
                      </ul>


            </div>


          </li>
          <li class="list-group-item"><a class="nav-link" (click)="Vission.toggle()">Vission</a>

            <div class="" mdbCollapse #Vission="bs-collapse">


                Every student studying and passing out of this school
                must have grown in his/her sense of the divine, &nbsp;&nbsp;respect for human life,
                compassion for &nbsp;&nbsp;the poor, &nbsp;&nbsp;concern for justice, awareness
                of oppressive social &nbsp;&nbsp;structure and commitment to help to build a better
                human society.<p align="justify" class="style35">Therefore the school aims at:</p><ul>
                <li class="style35">The fullest moulding of the students God-given talents.</li>
                <li class="style35">Sound intellectual growth enabling reflective, logical and critical
                  reasoning.</li>
                <li class="style35">Developing the communicative skills.</li>
                <li class="style35">Attitudinal formation of values of respect, love and service.</li>
                <li class="style35">Development of sense of self-worth (realistic, knowledge, love and
                  acceptance of self) and to become a responsible individual within the human community.</li>
                <li class="style35">Development of an ability to critically assess the reality, the
                  values and trends of the society, honestly confronting social injustices of racism,
                  sexism and religious intolerance violations of human rights, and the problems of
                  the socially marginalized.</li>
              </ul>


        </div>

          </li>
          <li class="list-group-item"><a class="nav-link" (click)="Traditions.toggle()">Traditions</a>

            <div class="" mdbCollapse #Traditions="bs-collapse">
                <p>
                    Arnoldians take pride of being a part of this institution and are:
                  </p>
                  <ul>
                    <li class="style35">Hard working, setting high goals and standards and are persistence
                                              in their efforts to achieve them.
                    </li>
                    <li class="style35">They aspire to be mentally, physically and psychologically strong.</li>
                    <li class="style35">They are aware of social structure and national goals and are able
                                              to accept and discharge personal responsibilities.
                    </li>
                    <li class="style35">Avoid vulgarity in their talk and behavior Arnoldians try to speak
                                              correct English.
                    </li>
                    <li class="style35">Offer up help to any unattended visitor coming across in the school
                                              premises.
                    </li>
                    <li class="style35">Respectful to the authorities, teachers and elders, greet them,
                                              help them to carry any heavy things if they are carrying.
                    </li>
                    <li class="style35">Realization that hard, persevering, systematic and creative personal
                                              efforts is the only stepping-stone to real success especially in studies.
                    </li>
                    <li class="style35">Conscious that true nobility consists in being honest and sincere
                                              decent and gentle, in speech behavior and action.
                    </li>
                    <li class="style35">Keep their school clean and neat, in and out. An Arnoldian loves
                                              to leave the school and its premises clean by picking up any wrapping or waste material
                                              lying on the ground and placing them in dustbin provided.
                    </li>
                    <li class="style35">Arnoldians are brothers and sisters and therefore, every one is
                                              to be treated with brotherly sisterly dignity and decorum.
                    </li>
                  </ul>
                    The desire to observe these above must come from within and must be
                                            genuine, only thus can one’s   character be formed


            </div>

          </li>
          <li class="list-group-item"><a class="nav-link " (click)="Embelem.toggle()" >Embelem</a>

            <div class="" mdbCollapse #Embelem="bs-collapse">
                <p>
                    <img src="/assets/img/logo.png" data-verified="redactor" alt="" style="display: block; margin: auto; width: 157px; height: 122px;" rel="display: block; margin: auto; width: 157px; height: 122px;" width="157" height="122"></p><p><br></p><p class="style3 style22"><strong><span class="style59" data-verified="redactor" data-redactor-class="style59">THE IMAGES IN THE EMBLEM</span></strong>
                    </p><ul class="list-group">
                      <li class="list-group-item">
                      Two Circles : they stand for integral education in a global context.
                      </li>
                      <li class="list-group-item">
                      Games : Stand for the integral personality development of children/students in the
                                                  context of co-education.
                      </li>
                      <li class="list-group-item">
                      Computer : Symbolises the modern learning skills of science and technologies.
                      </li>
                      <li class="list-group-item">
                      The Book and The Pen : They symbolize the learning skills of reading, writing and
                                                  speaking. To that end the
                      <em>Societas Verbi Divini</em> (SVD) or The Society of
                                                  the Divine Word pledges to mould the future of children/students to be the productive
                                                  citizens of society at large.
                      </li>
                      <li class="list-group-item">
                      The Rising Sun : It stands for hope and inculcation of value-based education to
                                                  children/students.
                      </li>
                    </ul>


            </div>

          </li>
          <li class="list-group-item"><a class="nav-link " (click)="Motto.toggle()" >Motto</a>

            <div class="" mdbCollapse #Motto="bs-collapse">

                    <strong>THE MEANING OF THE MOTTO AND THE EMBLEM</strong><br>
<strong>The Motto : ‘MOULDING THE FUTURE’</strong><br>

	The motto of our school is 'Moulding the Future', which we have
													expressed in the pregnant Sanskrit form, भविष्यस्य संस्कार: (Bhavisyasya
													Samskarah). Children/Students are our future. They do not come to us as a 'clean
													slate' or 'tabula rasa' to be filled with information. Rather, they come with a
													lot of potentialities that, like clay, need to be moulded, trans-formed and perfected.
													This notion is aptly expressed by the very rich word Samskarah. In our context,
													the prefix sam conveys the idea of refinement, polishing, completeness, perfection,
													and so the word samskarah, corresponding to the word 'perfection', encapsulates
													the meaning of moulding, transforming, refining, cultivating, purifying, sanctifying
													and the like. Samskarah thus takes a holistic and integral approach: developing
													the physical, psychological, intellectual and spiritual aspects of the one's personality.
													Through imparting knowledge, excellence, values, empowerment towards liberation
													and national integration, teachers exercise their midwifery function of 'e-ducating'
													(derived from the Latin 'to lead out'), bringing about a new birth by transforming
													the raw, natural, ordinary material(prakrta) into something polished, beautiful,
													cultured and perfect (samskrta).


            </div>

          </li>
        </ul>
    <ul class="nav  nav-fill">
      <li class="nav-item purple-gradient " >

      </li>
      <li class="nav-item aqua-gradient">

      </li>
      <li class="nav-item peach-gradient">

      </li>
      <li class="nav-item blue-gradient">

      </li>
    </ul>


  </div>
</main>
