<!--Main Layout-->
<main class="text-center py-5">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12"> -->
        <div class="col-md-4">
          <!-- Card -->
          <mdb-card class="cardheight">
            <div
              class="view rgba-white-slight waves-light color-block peach-gradient z-depth-2 py-4 text-center white-text"
              mdbWavesEffect
            >
              <!-- Card img -->
              SACS Login
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Login</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                <!-- Horizontal material form -->
                <form>
                  <!-- Grid row -->

                  <!-- Material input -->
                  <div class="md-form">
                    <input
                      mdbInput
                      type="text"
                      id="inputEmail3MD"
                      class="form-control"
                    />
                    <label for="inputEmail3MD" class="">Email</label>
                  </div>

                  <div class="md-form">
                    <input
                      mdbInput
                      type="password"
                      id="inputPassword3MD"
                      class="form-control"
                    />
                    <label for="inputPassword3MD" class="">Password</label>
                  </div>
                  <!-- Grid row -->

                  <button type="submit" mdbBtn color="red">Sign in</button>
                </form>
                <!-- Horizontal material form -->
              </mdb-card-text>

              <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Signin</a> -->
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <!-- Card -->
          <mdb-card class="cardheight">
            <div class="view rgba-white-slight waves-light aqua-gradient z-depth-2 py-4 text-center white-text" mdbWavesEffect>
              <!-- Card img -->
              NEWS

            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Admissions</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                Nursery Admissions Closed for All classes.
              </mdb-card-text>
              <mdb-card-title>
                <h4>Results</h4>
              </mdb-card-title>

              <mdb-card-text>
                SSC Result declared
              </mdb-card-text>
              <br><br>
              <a href="#" mdbBtn color="primary" mdbWavesEffect>Read More</a>
            </mdb-card-body>
          </mdb-card>
        </div>
        <div class="col-md-4">
          <!-- Card -->
          <mdb-card class="cardheight">
            <div class="view rgba-white-slight waves-light purple-gradient z-depth-2 py-4 text-center white-text" mdbWavesEffect>
              <!-- Card img -->
              Mind Matters
            </div>
            <!--Card content-->
            <mdb-card-body>
              <!--Title-->
              <mdb-card-title>
                <h4>Though of the day</h4>
              </mdb-card-title>

              <!--Text-->
              <mdb-card-text>
                <blockquote class="blockquote">
                    <p class="mb-0">I didn't see it then, but it turned out that getting fired from Apple was the best thing that could have ever happened to me!</p>
                <footer class="blockquote-footer mb-3">- Steve Jobs</footer>
              </blockquote>
              </mdb-card-text>


            </mdb-card-body>
          </mdb-card>
        </div>
      <!-- </div> -->
    </div>
  </div>


</main>
<!--Main Layout
ss304
100mm
-->
